nimcache/
nimbledeps/

# Executables shall be put in an ignored build/ directory
# Ignore dynamic, static libs and libtool archive files
build/
*.so
*.dylib
*.a
*.la
*.exe
*.dll
.vscode/
.DS_Store
tests/pubsub/testgossipsub
examples/*.md
nimble.develop
nimble.paths
go-libp2p-daemon/

# Ignore all test build files in tests folder (auto generated when running tests), 
# by ignoring anything that does not have following file name scheme
# has extension .nim, .nims, .json, or is Dockerfile...
/tests/*
!/tests/*.*
!/tests/Dockerfile