name: Daily Nim Devel
on:
  schedule:
    - cron: "30 6 * * *"
  workflow_dispatch:
  pull_request:

jobs:
  test_nim_devel:
    name: Daily Nim Devel
    uses: ./.github/workflows/base_daily_tests.yml
    with:
      nim: "[{'version': 'devel', 'memory_management': 'orc'}]"
      cpu: "['amd64']"
