name: Daily amd64

on:
  pull_request:
  schedule:
    - cron: "30 6 * * *"
  workflow_dispatch:

jobs:
  test_amd64:
    name: Daily amd64
    uses: ./.github/workflows/daily_common.yml
    with:
      nim: "[{'branch': 'version-1-6', 'memory_management': 'refc'}, {'branch': 'version-2-0', 'memory_management': 'refc'}]"
      cpu: "['amd64']"
