name: Daily SAT

on:
  schedule:
    - cron: "30 6 * * *"
  workflow_dispatch:

jobs:
  test_amd64:
    name: Daily SAT
    uses: ./.github/workflows/daily_common.yml
    with:
      nim: "[{'ref': 'version-2-0', 'memory_management': 'refc'}]"
      cpu: "['amd64']"
      use_sat_solver: true
