name: Dependencies

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  bumper:
    # Pushes new refs to interested external repositories, so they can do early testing against libp2p's newer versions
    runs-on: ubuntu-latest
    name: Bump libp2p's version for ${{ matrix.target.repository }}:${{ matrix.target.ref }}
    strategy:
      fail-fast: false
      matrix:
        target:
          - repository: status-im/nimbus-eth2
            ref: unstable
          - repository: waku-org/nwaku
            ref: master
          - repository: codex-storage/nim-codex
            ref: master
    steps:
      - name: Clone target repository
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.target.repository }}
          ref: ${{ matrix.target.ref}}
          path: nbc
          fetch-depth: 0
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}

      - name: Checkout this ref in target repository
        run: |
          cd nbc
          git submodule update --init vendor/nim-libp2p
          cd vendor/nim-libp2p
          git checkout $GITHUB_SHA

      - name: Push this ref to target repository
        run: |
          cd nbc
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name = "${{ github.actor }}"
          git commit --allow-empty -a -m "auto-bump nim-libp2p"
          git branch -D nim-libp2p-auto-bump-${{ matrix.target.ref }} || true
          git switch -c nim-libp2p-auto-bump-${{ matrix.target.ref }}
          git push -f origin nim-libp2p-auto-bump-${{ matrix.target.ref }}

