name: Interoperability Testing
on:
  pull_request:
  push:
    branches:
      - unstable
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run-multidim-interop:
    name: Run multidimensional interoperability tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          repository: libp2p/test-plans
          submodules: true
          fetch-depth: 0

      - name: Build image
        run: >
          cd transport-interop/impl/nim/v1.0 &&
          make commitSha=$GITHUB_SHA image_name=nim-libp2p-head

      - name: Create ping-version.json
        run: >
          (cat << EOF
            {
                "id": "nim-libp2p-head",
                "containerImageID": "nim-libp2p-head",
                "transports": [
                    "tcp",
                    "ws"
                ],
                "secureChannels": [
                    "noise"
                ],
                "muxers": [
                    "mplex",
                    "yamux"
                ]
            }
          EOF

          ) > ${{ github.workspace }}/test_head.json

      - uses: libp2p/test-plans/.github/actions/run-transport-interop-test@master
        with:
          test-filter: nim-libp2p-head
          extra-versions: ${{ github.workspace }}/test_head.json

  run-hole-punching-interop:
    name: Run hole-punch interoperability tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Build image
        run: docker buildx build --load -t nim-libp2p-head -f tests/hole-punching-interop/Dockerfile .
      - name: Run tests
        uses: libp2p/test-plans/.github/actions/run-interop-hole-punch-test@master
        with:
          test-filter: rust-libp2p-head
          extra-versions: ${{ github.workspace }}/tests/hole-punching-interop/version.json