name: Performance

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  performance:
    timeout-minutes: 20
    strategy:
      fail-fast: false

    defaults:
      run:
        shell: bash

    env:
      VACP2P: "vacp2p"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PR_HEAD_SHA: ${{ github.event.pull_request.head.sha }}
      PR_NUMBER: ${{ github.event.number }}
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      MARKER: "<!-- perf-summary-marker -->"
      COMMENT_SUMMARY_PATH: "/tmp/perf-summary.md"
      SHARED_VOLUME_PATH: "performance/output"
      DOCKER_STATS_PREFIX: "docker_stats_"
      PUBLISH_BRANCH_NAME: "performance_plots"
      CHECKOUT_SUBFOLDER_SUBPLOTS: "subplots"
      PUBLISH_DIR_PLOTS: "plots"
      CHECKOUT_SUBFOLDER_HISTORY: "history"
      PUBLISH_DIR_LATENCY_HISTORY: "latency_history"
      LATENCY_HISTORY_PATH: "history/latency_history"
      LATENCY_HISTORY_PREFIX: "pr"
      LATENCY_HISTORY_PLOT_FILENAME: "latency_history_all_scenarios.png"

    name: "Performance"
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image with cache
        uses: docker/build-push-action@v6
        with:
          context: .
          file: performance/Dockerfile
          tags: test-node:latest
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run
        run: |
          ./performance/runner.sh

      - name: Process latency and docker stats
        uses: ./.github/actions/process_stats

      - name: Publish history
        if: github.repository_owner != env.VACP2P
        uses: ./.github/actions/publish_history

      - name: Generate plots
        if: github.repository_owner != env.VACP2P
        uses: ./.github/actions/generate_plots

      - name: Publish plots and add to summary
        if: github.repository_owner != env.VACP2P
        uses: ./.github/actions/publish_plots

      - name: Post/Update PR comment
        if: github.event_name == 'pull_request'
        uses: ./.github/actions/add_comment
